* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* -------------------------------------------------------------------------- INDEX HTML ------------------------------------------------------------------------------------------- */

.index-bg {
    background-color: #000000e7;
}

.h1-index {
    text-decoration: none;
    font-size: 100px;
}

.index-box {
    width: 70%;
    background-color: rgb(0, 0, 0);
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    gap: 30px;
    border: 1px solid rgba(211, 211, 211, 0);
    box-shadow: 2px 2px 12px 6px #0066ffd1;
    border-radius: 15px;
    font-family: sans-serif;
    padding: 30px;
}

.index-loggin {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.index-btn a {
    text-decoration: none;
    color: white;
}

.checkbox {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}

.checkbox p {
    padding-top: 14px;
}


/*-----------------------------------BOTON index -----------------------------------*/

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-9 {
    background-image: linear-gradient(to right, #2551e1, #2d63c2, #0470fe, #033e96);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}


/* ------------------------------------------------------------------------- TIENDA HTML --------------------------------------------------------------------------------------------*/

body {
    background: rgb(0, 0, 0);
}

h1 {
    text-align: center;
    color: blue;
    font-style: italic;
    font-size: 40px;
    text-decoration: underline;
}

h2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 40px;
}

h3 {
    padding: 10px;
    text-align: center;
}

hr {
    color: blue;
    background-color: blue;
    height: 10px;
    margin-top: 40px;
}


/* ----------HEADER----------------- */

header {
    background-image: url(../img/banner.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 450px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom-style: solid;
}


/* -------------------------------------ENCABEZADO------------------------------------- */

.encabezado {
    color: rgb(226, 235, 247);
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
}

.encabezado h2 {
    margin: 20px 0;
    text-decoration: underline;
}


/* ------------ MODAL-------------------- */

.Modal {
    background-color: rgb(39, 39, 39);
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 25px;
}

.tituloModal {
    color: #fff;
    text-decoration: none;
}

.btnModal {
    display: flex;
    justify-content: center;
    width: 500px;
    margin-top: 50px;
}

.btnModal:hover {
    background-color: #eb4444;
}

.total {
    display: flex;
    align-content: end;
}

.finalizar a {
    color: #ffffff;
    text-decoration: none;
}


/* -------------- CARTAS --------------------*/

.borrar {
    display: none;
}

.card {
    margin-left: 70px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 420px;
    border: 1px solid rgba(211, 211, 211, 0);
    box-shadow: 2px 2px 12px 6px #0066ffd1;
    border-radius: 15px;
    font-family: sans-serif;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
}

.card img {
    display: flex;
    width: 22rem;
    border-radius: 80px;
    transition: 0.4s;
    position: relative;
}

.card img:hover {
    transform: scale(1.30);
    transition: 0.5s;
    border-radius: 15px;
}

.card h3,
p {
    display: flex;
    justify-content: center;
}

.neon {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.valor {
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}

.dias {
    display: flex;
    translate: 40%;
    text-align: center;
    font-weight: bolder;
}

.aclaracion {
    margin-top: 10px;
    font-size: 12px;
}


/* ---------------- BOTON CARTAS -------------- */

.custom-btn {
    width: 130px;
    height: 40px;
    translate: 75%;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-3 {
    background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0px;
    border: none;
}

.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover {
    background: transparent;
    box-shadow: none;
}

.btn-3:hover:before {
    height: 100%;
}

.btn-3:hover:after {
    width: 100%;
}

.btn-3 span:hover {
    color: rgba(2, 126, 251, 1);
}

.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.btn-3 span:before {
    width: 2px;
    height: 0%;
}

.btn-3 span:after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover:before {
    height: 100%;
}

.btn-3 span:hover:after {
    width: 100%;
}

.boton {
    padding: 0;
    height: 40px;
    width: 400px;
}


/* ------------------------- FOOTER ---------------------------------- */

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.footer-right {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 5px;
}

.footer-right img {
    width: 90%;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}


/* Footer links */

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all .25s;
}

.footer-distributed .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
    text-decoration: underline;
}


/* ------------------------------------------------------------------------------- FINAL HTML ------------------------------------------------------------------------------------ */

.final-bg {
    background-color: #000000;
    color: antiquewhite;
}

.h1_final {
    text-decoration: none;
    margin: 20px;
    font-size: 50px;
}

.hr-final {
    background-color: white;
    height: 3px;
}

.final-contenedor {
    display: flex;
}

.img-final {
    width: 23rem;
    margin: 0 10px;
}

.dom-carro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    padding: 10px;
    font-style: italic;
}

.dom-total {
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.boton-final {
    margin: 50px 0 0 0;
}

.hrCarroFinal {
    color: #0470fe;
    width: 50%;
}