/* --------------- GENERAL ------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0, 0, 0);
}

h1 {
    text-align: center;
    color: blue;
    font-style: italic;
    font-size: 40px;
    text-decoration: underline;
}

h2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 40px;
}

h3 {
    padding: 10px;
    text-align: center;
}

hr {
    color: blue;
    background-color: blue;
    height: 10px;
    margin-top: 40px;
}


/* --------------------------------- GRID --------------------------------- */

.div1 {
    grid-area: 2 / 1 / 3 / 2;
}

.div2 {
    grid-area: 2 / 2 / 3 / 3;
}

.div3 {
    grid-area: 2 / 3 / 3 / 4;
}

.div4 {
    grid-area: 2 / 4 / 3 / 5;
}

.div5 {
    grid-area: 4 / 1 / 5 / 2;
}

.div6 {
    grid-area: 4 / 2 / 5 / 3;
}

.div7 {
    grid-area: 4 / 3 / 5 / 4;
}

.div8 {
    grid-area: 4 / 4 / 5 / 5;
}

.div9 {
    grid-area: 6 / 1 / 7 / 2;
}

.div10 {
    grid-area: 6 / 2 / 7 / 3;
}

.div11 {
    grid-area: 6 / 3 / 7 / 4;
}

.div12 {
    grid-area: 6 / 4 / 7 / 5;
}

.cat1 {
    grid-area: 1 / 1 / 2 / 5;
}

.cat2 {
    grid-area: 3 / 1 / 4 / 5;
}

.cat3 {
    grid-area: 5 / 1 / 6 / 5;
}


/* --------------------------------- HEADER --------------------------------- */

header {
    background-image: url(banner.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 450px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom-style: solid;
}


/*-----------------------------------BOTON COMPRA -----------------------------------*/

label {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-9 {
    background-image: linear-gradient(to right, #2551e1, #2d63c2, #0470fe, #033e96);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}


/* ---------------------------------- DESPLEGABLE -------------------------------------- */

.hr-carro {
    margin: 0;
    color: none;
    background: rgb(0, 35, 255);
    background: radial-gradient(circle, rgba(0, 35, 255, 1) 0%, rgba(0, 0, 0, 1) 87%);
}

.carro {
    width: 50px;
    display: flex;
    justify-content: center;
}

.respmenu a {
    color: inherit;
    font-size: 25px;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #456789;
    max-width: 200px;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
}

.respmenu input[type="checkbox"],
.respmenu .fa-bars,
.respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
}

.respmenu .fa-bars,
.respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
}

.respmenu input[type="checkbox"] {
    opacity: 0;
}

.respmenu {
    color: white;
    position: relative;
    background: rgb(76, 99, 241);
    background: radial-gradient(circle, rgba(76, 99, 241, 1) 0%, rgba(0, 0, 0, 1) 87%);
    min-height: 48px;
}

.respmenu nav {
    display: none;
}

.respmenu input:checked~nav {
    display: block;
}

.respmenu input:checked~.fa-bars {
    display: none;
}

.respmenu input:not(:checked)~.fa-times {
    display: none;
}

.comprar {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#carro {
    color: rgb(199, 199, 199);
    padding: 20px;
    font-size: 30px;
    font-style: italic;
}


/* --------------------------------- CARTAS ------------------------------------------- */

.valor {
    padding: 20px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.neon {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.tienda {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 1fr 100px 1fr 100px 1fr;
    grid-column-gap: 7px;
    grid-row-gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 420px;
    border: 1px solid rgba(211, 211, 211, 0);
    box-shadow: 2px 2px 12px 6px #0066ffd1;
    border-radius: 15px;
    font-family: sans-serif;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    margin-top: 20px;
    color: antiquewhite;
}

.card img {
    display: flex;
    translate: 18%;
    width: 300px;
    border-radius: 80px;
    transition: 0.4s;
    position: relative;
}

.card img:hover {
    width: 408px;
    border-radius: 15px;
    translate: 0%;
}

.card h3,
p {
    display: flex;
    justify-content: center;
}


/* -------------------------------------- BOTON CARTAS -------------------------------------- */

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-3 {
    background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover {
    background: transparent;
    box-shadow: none;
}

.btn-3:hover:before {
    height: 100%;
}

.btn-3:hover:after {
    width: 100%;
}

.btn-3 span:hover {
    color: rgba(2, 126, 251, 1);
}

.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.btn-3 span:before {
    width: 2px;
    height: 0%;
}

.btn-3 span:after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover:before {
    height: 100%;
}

.btn-3 span:hover:after {
    width: 100%;
}

.boton {
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
    height: 40px;
    width: 400px;
}